/*
Theme Name: Personite
Description: Bootstrap Portfolio Template
Author: Erilisdesign
Theme URI: https://preview.erilisdesign.com/html/personite/
Author URI: https://themeforest.net/user/erilisdesign
Version: 1.0.0
License: https://themeforest.net/licenses/standard

SASS Stylesheet
*/
html,
body {
  overflow-x: hidden; }

h1, .h1 {
  font-weight: 700;
  line-height: 1.3; }
  @media (max-width: 991.98px) {
    h1, .h1 {
      font-size: 1.875rem; } }

h2, .h2 {
  font-weight: 700;
  line-height: 1.35; }
  @media (max-width: 991.98px) {
    h2, .h2 {
      font-size: 1.625rem; } }

h3, .h3 {
  font-weight: 700;
  line-height: 1.4; }
  @media (max-width: 991.98px) {
    h3, .h3 {
      font-size: 1.5rem; } }

h4, .h4 {
  font-weight: 700;
  line-height: 1.45; }
  @media (max-width: 991.98px) {
    h4, .h4 {
      font-size: 1.375rem; } }

h5, .h5 {
  font-weight: 700;
  line-height: 1.5; }

h6, .h6 {
  font-weight: 700;
  line-height: 1.55; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  letter-spacing: -0.01em; }
  h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover,
  .h1 > a:hover, .h2 > a:hover, .h3 > a:hover, .h4 > a:hover, .h5 > a:hover, .h6 > a:hover {
    color: #0409ab; }

@media (max-width: 991.98px) {
  .display-1 {
    font-size: 3.125rem; } }

@media (max-width: 991.98px) {
  .display-2 {
    font-size: 2.5rem; } }

@media (max-width: 991.98px) {
  .display-3 {
    font-size: 2.25rem; } }

@media (max-width: 991.98px) {
  .display-4 {
    font-size: 2rem; } }

@media (max-width: 991.98px) {
  .lead {
    font-size: 1.125rem; } }

p:last-child {
  margin-bottom: 0; }

::-moz-selection {
  color: #fff;
  background-color: #050CDD; }

::selection {
  color: #fff;
  background-color: #050CDD; }

.bg-primary ::-moz-selection {
  color: #050CDD;
  background-color: #fff; }

.bg-primary ::selection {
  color: #050CDD;
  background-color: #fff; }

.cover-letter {
  position: relative;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-size: 20rem;
  line-height: 1;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.07);
  z-index: -1;
  user-select: none; }
  .cover-letter.letter-2x {
    font-size: 25rem; }
  .cover-letter.letter-3x {
    font-size: 30rem; }
  .cover-letter.letter-4x {
    font-size: 35rem; }
  .cover-letter.letter-5x {
    font-size: 40rem; }

.container, .container-fluid {
  position: relative;
  z-index: 1; }

.table thead > tr > th {
  border-top-width: 0;
  border-bottom-width: 1px; }

.table-align-middle thead > tr > th,
.table-align-middle tbody > tr > td {
  vertical-align: middle; }

.contact-form-result,
.contact-form-result {
  display: none;
  margin-top: 1rem; }

.form-control-soft-light {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none; }
  .form-control-soft-light:-moz-focusring {
    text-shadow: 0 0 0 #fff; }
  .form-control-soft-light::placeholder {
    color: rgba(255, 255, 255, 0.6); }
  .form-control-soft-light:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.5);
    box-shadow: none, 0 0 0 0.2rem rgba(5, 12, 221, 0.25); }
  .form-control-soft-light:disabled, .form-control-soft-light[readonly] {
    background-color: rgba(234, 236, 241, 0.05); }
  .form-control-soft-light.form-control-plaintext {
    color: #fff;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0; }

select.form-control.form-control-soft-light:focus::-ms-value {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05); }

.form-control-soft-dark {
  color: #1d1e29;
  background-color: rgba(29, 30, 41, 0.05);
  border: 1px solid rgba(29, 30, 41, 0.2);
  box-shadow: none; }
  .form-control-soft-dark:-moz-focusring {
    text-shadow: 0 0 0 #1d1e29; }
  .form-control-soft-dark::placeholder {
    color: rgba(29, 30, 41, 0.6); }
  .form-control-soft-dark:focus {
    color: #1d1e29;
    background-color: rgba(29, 30, 41, 0.05);
    border-color: rgba(29, 30, 41, 0.5);
    box-shadow: none, 0 0 0 0.2rem rgba(5, 12, 221, 0.25); }
  .form-control-soft-dark:disabled, .form-control-soft-dark[readonly] {
    background-color: rgba(141, 156, 175, 0.05); }
  .form-control-soft-dark.form-control-plaintext {
    color: #fff;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0; }

select.form-control.form-control-soft-dark:focus::-ms-value {
  color: #1d1e29;
  background-color: rgba(29, 30, 41, 0.05); }

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none; }

.btn-pill {
  border-radius: 50rem; }

.btn-icon {
  position: relative;
  line-height: 0;
  font-size: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  padding: 0; }
  .btn-icon-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .btn-icon-inner-bottom-minus {
      top: 80%; }

.btn-icon.btn-sm {
  font-size: 0.8175rem;
  width: 1.9375rem;
  height: 1.9375rem; }
.btn-icon.btn-lg {
  font-size: 1.25rem;
  width: 3.375rem;
  height: 3.375rem; }

.btn-primary {
  background-color: #050CDD; }

.btn-secondary {
  background-color: #414455; }

.btn-success {
  background-color: #21ce5b; }

.btn-info {
  background-color: #3fc4e3; }

.btn-warning {
  background-color: #f3ed4f; }

.btn-danger {
  background-color: #ff5b5c; }

.btn-light {
  background-color: #f5f7f9; }

.btn-dark {
  background-color: #1d1e29; }

.btn-white {
  background-color: #fff; }

.btn-outline-primary {
  border-color: #050CDD; }

.btn-outline-secondary {
  border-color: #414455; }

.btn-outline-success {
  border-color: #21ce5b; }

.btn-outline-info {
  border-color: #3fc4e3; }

.btn-outline-warning {
  border-color: #f3ed4f; }

.btn-outline-danger {
  border-color: #ff5b5c; }

.btn-outline-light {
  border-color: #f5f7f9; }

.btn-outline-dark {
  border-color: #1d1e29; }

.btn-outline-white {
  border-color: #fff; }

.btn-soft-primary {
  color: #050CDD;
  background: rgba(5, 12, 221, 0.1);
  border-color: transparent; }
  .btn-soft-primary:hover, .btn-soft-primary:focus, .btn-soft-primary:active, .btn-soft-primary.active {
    color: #050CDD;
    background: rgba(5, 12, 221, 0.15);
    box-shadow: rgba(5, 12, 221, 0.35); }
  .btn-soft-primary.disabled, .btn-soft-primary:disabled {
    color: #050CDD;
    background-color: rgba(5, 12, 221, 0.1);
    box-shadow: none; }
  .btn-soft-primary:not(:disabled):not(.disabled):active, .btn-soft-primary:not(:disabled):not(.disabled).active, .show > .btn-soft-primary.dropdown-toggle {
    color: #050CDD;
    background: rgba(5, 12, 221, 0.2); }

.btn-soft-secondary {
  color: #414455;
  background: rgba(65, 68, 85, 0.1);
  border-color: transparent; }
  .btn-soft-secondary:hover, .btn-soft-secondary:focus, .btn-soft-secondary:active, .btn-soft-secondary.active {
    color: #414455;
    background: rgba(65, 68, 85, 0.15);
    box-shadow: rgba(65, 68, 85, 0.35); }
  .btn-soft-secondary.disabled, .btn-soft-secondary:disabled {
    color: #414455;
    background-color: rgba(65, 68, 85, 0.1);
    box-shadow: none; }
  .btn-soft-secondary:not(:disabled):not(.disabled):active, .btn-soft-secondary:not(:disabled):not(.disabled).active, .show > .btn-soft-secondary.dropdown-toggle {
    color: #414455;
    background: rgba(65, 68, 85, 0.2); }

.btn-soft-success {
  color: #21ce5b;
  background: rgba(33, 206, 91, 0.1);
  border-color: transparent; }
  .btn-soft-success:hover, .btn-soft-success:focus, .btn-soft-success:active, .btn-soft-success.active {
    color: #21ce5b;
    background: rgba(33, 206, 91, 0.15);
    box-shadow: rgba(33, 206, 91, 0.35); }
  .btn-soft-success.disabled, .btn-soft-success:disabled {
    color: #21ce5b;
    background-color: rgba(33, 206, 91, 0.1);
    box-shadow: none; }
  .btn-soft-success:not(:disabled):not(.disabled):active, .btn-soft-success:not(:disabled):not(.disabled).active, .show > .btn-soft-success.dropdown-toggle {
    color: #21ce5b;
    background: rgba(33, 206, 91, 0.2); }

.btn-soft-info {
  color: #3fc4e3;
  background: rgba(63, 196, 227, 0.1);
  border-color: transparent; }
  .btn-soft-info:hover, .btn-soft-info:focus, .btn-soft-info:active, .btn-soft-info.active {
    color: #3fc4e3;
    background: rgba(63, 196, 227, 0.15);
    box-shadow: rgba(63, 196, 227, 0.35); }
  .btn-soft-info.disabled, .btn-soft-info:disabled {
    color: #3fc4e3;
    background-color: rgba(63, 196, 227, 0.1);
    box-shadow: none; }
  .btn-soft-info:not(:disabled):not(.disabled):active, .btn-soft-info:not(:disabled):not(.disabled).active, .show > .btn-soft-info.dropdown-toggle {
    color: #3fc4e3;
    background: rgba(63, 196, 227, 0.2); }

.btn-soft-warning {
  color: #f3ed4f;
  background: rgba(243, 237, 79, 0.1);
  border-color: transparent; }
  .btn-soft-warning:hover, .btn-soft-warning:focus, .btn-soft-warning:active, .btn-soft-warning.active {
    color: #f3ed4f;
    background: rgba(243, 237, 79, 0.15);
    box-shadow: rgba(243, 237, 79, 0.35); }
  .btn-soft-warning.disabled, .btn-soft-warning:disabled {
    color: #f3ed4f;
    background-color: rgba(243, 237, 79, 0.1);
    box-shadow: none; }
  .btn-soft-warning:not(:disabled):not(.disabled):active, .btn-soft-warning:not(:disabled):not(.disabled).active, .show > .btn-soft-warning.dropdown-toggle {
    color: #f3ed4f;
    background: rgba(243, 237, 79, 0.2); }

.btn-soft-danger {
  color: #ff5b5c;
  background: rgba(255, 91, 92, 0.1);
  border-color: transparent; }
  .btn-soft-danger:hover, .btn-soft-danger:focus, .btn-soft-danger:active, .btn-soft-danger.active {
    color: #ff5b5c;
    background: rgba(255, 91, 92, 0.15);
    box-shadow: rgba(255, 91, 92, 0.35); }
  .btn-soft-danger.disabled, .btn-soft-danger:disabled {
    color: #ff5b5c;
    background-color: rgba(255, 91, 92, 0.1);
    box-shadow: none; }
  .btn-soft-danger:not(:disabled):not(.disabled):active, .btn-soft-danger:not(:disabled):not(.disabled).active, .show > .btn-soft-danger.dropdown-toggle {
    color: #ff5b5c;
    background: rgba(255, 91, 92, 0.2); }

.btn-soft-light {
  color: #f5f7f9;
  background: rgba(245, 247, 249, 0.1);
  border-color: transparent; }
  .btn-soft-light:hover, .btn-soft-light:focus, .btn-soft-light:active, .btn-soft-light.active {
    color: #f5f7f9;
    background: rgba(245, 247, 249, 0.15);
    box-shadow: rgba(245, 247, 249, 0.35); }
  .btn-soft-light.disabled, .btn-soft-light:disabled {
    color: #f5f7f9;
    background-color: rgba(245, 247, 249, 0.1);
    box-shadow: none; }
  .btn-soft-light:not(:disabled):not(.disabled):active, .btn-soft-light:not(:disabled):not(.disabled).active, .show > .btn-soft-light.dropdown-toggle {
    color: #f5f7f9;
    background: rgba(245, 247, 249, 0.2); }

.btn-soft-dark {
  color: #1d1e29;
  background: rgba(29, 30, 41, 0.1);
  border-color: transparent; }
  .btn-soft-dark:hover, .btn-soft-dark:focus, .btn-soft-dark:active, .btn-soft-dark.active {
    color: #1d1e29;
    background: rgba(29, 30, 41, 0.15);
    box-shadow: rgba(29, 30, 41, 0.35); }
  .btn-soft-dark.disabled, .btn-soft-dark:disabled {
    color: #1d1e29;
    background-color: rgba(29, 30, 41, 0.1);
    box-shadow: none; }
  .btn-soft-dark:not(:disabled):not(.disabled):active, .btn-soft-dark:not(:disabled):not(.disabled).active, .show > .btn-soft-dark.dropdown-toggle {
    color: #1d1e29;
    background: rgba(29, 30, 41, 0.2); }

.btn-soft-white {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-color: transparent; }
  .btn-soft-white:hover, .btn-soft-white:focus, .btn-soft-white:active, .btn-soft-white.active {
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: rgba(255, 255, 255, 0.35); }
  .btn-soft-white.disabled, .btn-soft-white:disabled {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none; }
  .btn-soft-white:not(:disabled):not(.disabled):active, .btn-soft-white:not(:disabled):not(.disabled).active, .show > .btn-soft-white.dropdown-toggle {
    color: #fff;
    background: rgba(255, 255, 255, 0.2); }

.btn-text-primary {
  color: #050CDD;
  background: transparent; }
  .btn-text-primary[href]:hover, .btn-text-primary[href]:focus, .btn-text-primary[href]:active, .btn-text-primary[type]:hover, .btn-text-primary[type]:focus, .btn-text-primary[type]:active {
    color: #030892; }

.btn-text-secondary {
  color: #414455;
  background: transparent; }
  .btn-text-secondary[href]:hover, .btn-text-secondary[href]:focus, .btn-text-secondary[href]:active, .btn-text-secondary[type]:hover, .btn-text-secondary[type]:focus, .btn-text-secondary[type]:active {
    color: #20212a; }

.btn-text-success {
  color: #21ce5b;
  background: transparent; }
  .btn-text-success[href]:hover, .btn-text-success[href]:focus, .btn-text-success[href]:active, .btn-text-success[type]:hover, .btn-text-success[type]:focus, .btn-text-success[type]:active {
    color: #168c3e; }

.btn-text-info {
  color: #3fc4e3;
  background: transparent; }
  .btn-text-info[href]:hover, .btn-text-info[href]:focus, .btn-text-info[href]:active, .btn-text-info[type]:hover, .btn-text-info[type]:focus, .btn-text-info[type]:active {
    color: #1b9cba; }

.btn-text-warning {
  color: #f3ed4f;
  background: transparent; }
  .btn-text-warning[href]:hover, .btn-text-warning[href]:focus, .btn-text-warning[href]:active, .btn-text-warning[type]:hover, .btn-text-warning[type]:focus, .btn-text-warning[type]:active {
    color: #e6de10; }

.btn-text-danger {
  color: #ff5b5c;
  background: transparent; }
  .btn-text-danger[href]:hover, .btn-text-danger[href]:focus, .btn-text-danger[href]:active, .btn-text-danger[type]:hover, .btn-text-danger[type]:focus, .btn-text-danger[type]:active {
    color: #ff0f10; }

.btn-text-light {
  color: #f5f7f9;
  background: transparent; }
  .btn-text-light[href]:hover, .btn-text-light[href]:focus, .btn-text-light[href]:active, .btn-text-light[type]:hover, .btn-text-light[type]:focus, .btn-text-light[type]:active {
    color: #c5d1dc; }

.btn-text-dark {
  color: #1d1e29;
  background: transparent; }
  .btn-text-dark[href]:hover, .btn-text-dark[href]:focus, .btn-text-dark[href]:active, .btn-text-dark[type]:hover, .btn-text-dark[type]:focus, .btn-text-dark[type]:active {
    color: black; }

.btn-text-white {
  color: #fff;
  background: transparent; }
  .btn-text-white[href]:hover, .btn-text-white[href]:focus, .btn-text-white[href]:active, .btn-text-white[type]:hover, .btn-text-white[type]:focus, .btn-text-white[type]:active {
    color: rgba(255, 255, 255, 0.8); }

.btn-back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1030;
  animation-name: fadeInUpBig;
  animation-duration: .5s;
  animation-fill-mode: forwards; }

.btn-back-to-top:not(.show) {
  animation-name: fadeOutDownBig; }

.dropdown-menu {
  padding-left: 1.75rem;
  padding-right: 1.75rem; }

.dropdown-item {
  width: auto;
  min-width: 100%;
  margin-left: -1.75rem;
  margin-right: -1.75rem; }
  .dropdown-item:hover, .dropdown-item:focus {
    outline: none; }
  .dropdown-item + .dropdown-item {
    margin-top: .5rem; }
  .dropdown-item + .dropdown-divider {
    margin-top: 1rem; }
  .dropdown-item + .dropdown-item-text {
    margin-top: .5rem; }
  .dropdown-item + .dropdown-header {
    margin-top: .5rem; }
  .dropdown-item + .dropdown-header:not(:first-child) {
    margin-top: 1.25rem; }

.dropdown-link {
  color: inherit; }
  .dropdown-link:hover {
    text-decoration: inherit; }
  .dropdown-link:hover, .dropdown-link:focus {
    outline: none; }

.dropdown-divider + .dropdown-item {
  margin-top: 1rem; }
.dropdown-divider + .dropdown-header {
  margin-top: 1rem; }

.dropdown-item-text {
  margin-left: -1.75rem;
  margin-right: -1.75rem; }
  .dropdown-item-text + .dropdown-item {
    margin-top: .5rem; }

.dropdown-header {
  margin-bottom: 0.5rem;
  margin-left: -1.75rem;
  margin-right: -1.75rem;
  padding-top: 0;
  padding-bottom: 0; }
  .dropdown-header + .dropdown-item {
    margin-top: .5rem; }

.dropdown-menu-md {
  min-width: 25rem; }

.dropdown-menu-lg {
  min-width: 35rem; }

.dropdown-menu-xl {
  min-width: 40rem; }

.dropdown-menu-lg,
.dropdown-menu-xl {
  padding: 1.75rem 0; }
  .dropdown-menu-lg .dropdown-item,
  .dropdown-menu-lg .dropdown-header,
  .dropdown-menu-xl .dropdown-item,
  .dropdown-menu-xl .dropdown-header {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1.75rem;
    padding-right: 1.75rem; }

.nav-pills-modern {
  background-color: #fff; }
  .nav-pills-modern .nav-link {
    flex-grow: 1;
    min-width: 8rem;
    margin-bottom: 0;
    text-align: center;
    color: #1d1e29;
    border-radius: 0.3125rem; }
  .nav-pills-modern .nav-link.active,
  .nav-pills-modern .show > .nav-link {
    color: #fff;
    background-color: #050CDD; }

.nav-pills-modern-soft-light {
  background-color: rgba(255, 255, 255, 0.1); }
  .nav-pills-modern-soft-light .nav-link {
    color: #fff; }
  .nav-pills-modern-soft-light .nav-link.active,
  .nav-pills-modern-soft-light .show > .nav-link {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1); }

.nav-pills-modern-soft-dark {
  background-color: rgba(29, 30, 41, 0.1); }
  .nav-pills-modern-soft-dark .nav-link {
    color: #1d1e29; }
  .nav-pills-modern-soft-dark .nav-link.active,
  .nav-pills-modern-soft-dark .show > .nav-link {
    color: #1d1e29;
    background-color: rgba(29, 30, 41, 0.1); }

.navbar {
  transition: all 0.3s ease-in-out;
  transition-property: background-color, color, box-shadow, transform;
  z-index: 1030; }
  .navbar.fixed-top {
    backface-visibility: hidden; }

.site-navbar.site-navbar-transparent:not(.scrolled):not(.navbar-toggled-show), .site-navbar.site-navbar-transparent.scrolled-0:not(.navbar-toggled-show) {
  background: transparent !important;
  box-shadow: none !important; }

.site-navbar-hidden .site-navbar {
  transform: translate3d(0, -100%, 0); }

.navbar-brand {
  font-weight: 700;
  transition: all 0.35s ease-out; }
  .navbar-brand .navbar-brand-text,
  .navbar-brand .navbar-brand-img {
    transition: all 0.15s ease-out; }

.navbar-brand-img {
  max-height: 1.5rem;
  width: auto; }

.navbar-light .navbar-brand .navbar-brand-img-light {
  display: none; }

.navbar-dark .navbar-brand .navbar-brand-text,
.navbar-dark .navbar-brand .navbar-brand-img:not(.navbar-brand-img-light):not(.navbar-brand-img-dark) {
  filter: brightness(0) invert(1); }
.navbar-dark .navbar-brand .navbar-brand-img-dark {
  display: none; }

.navbar-toggler-alternative {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  transition: all 0.35s ease-out; }
  .navbar-toggler-alternative:hover, .navbar-toggler-alternative:focus {
    text-decoration: none; }
  .navbar-toggler-alternative:focus {
    outline: 0; }

.navbar-toggler-alternative-icon {
  position: relative;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center; }

.navbar-toggler-alternative-icon > span {
  position: relative;
  width: 26px;
  margin: 0 auto;
  background-color: #fff;
  transition: background-color .35s .0s ease-out; }

.navbar-toggler-alternative-icon > span,
.navbar-toggler-alternative-icon > span:before,
.navbar-toggler-alternative-icon > span:after {
  display: block;
  height: 2px;
  background-clip: padding-box; }

.navbar-toggler-alternative-icon > span:before,
.navbar-toggler-alternative-icon > span:after {
  position: absolute;
  content: '';
  width: 13px;
  background-color: #fff;
  transform-origin: 50% 50%;
  transition: background-color .35s .0s ease-out, top .2s .4s ease-out, left .2s .2s ease-out, right .2s .2s ease-out, width .2s .2s ease-out, transform .2s ease-out; }

.navbar-toggler-alternative-icon > span:before {
  top: 8px;
  left: 13px; }

.navbar-toggler-alternative-icon > span:after {
  top: -8px;
  right: 13px; }

.navbar-toggler-alternative[aria-expanded="true"] .navbar-toggler-alternative-icon > span {
  background-color: transparent !important;
  transition: background-color .35s 0s ease-out; }

.navbar-toggler-alternative[aria-expanded="true"] .navbar-toggler-alternative-icon > span:before,
.navbar-toggler-alternative[aria-expanded="true"] .navbar-toggler-alternative-icon > span:after {
  top: 0;
  width: 26px;
  transition: top .2s ease-out, left .2s .2s ease-out, right .2s .2s ease-out, width .2s .2s ease-out, transform .2s .4s ease-out; }

.navbar-toggler-alternative[aria-expanded="true"] .navbar-toggler-alternative-icon > span:before {
  left: 0;
  transform: rotate3d(0, 0, 1, 45deg); }

.navbar-toggler-alternative[aria-expanded="true"] .navbar-toggler-alternative-icon > span:after {
  right: 0;
  transform: rotate3d(0, 0, 1, -45deg); }

.navbar-light .navbar-toggler-alternative-icon > span {
  background-color: #1d1e29; }
.navbar-light .navbar-toggler-alternative-icon > span:before,
.navbar-light .navbar-toggler-alternative-icon > span:after {
  background-color: #1d1e29; }

.navbar-dark .navbar-toggler-alternative-icon > span {
  background-color: #fff; }
.navbar-dark .navbar-toggler-alternative-icon > span:before,
.navbar-dark .navbar-toggler-alternative-icon > span:after {
  background-color: #fff; }

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-toggler-alternative {
    display: none; }
  .navbar-expand-sm .navbar-collapse-inner {
    align-items: center;
    display: flex;
    flex-basis: auto; } }
@media (min-width: 768px) {
  .navbar-expand-md .navbar-toggler-alternative {
    display: none; }
  .navbar-expand-md .navbar-collapse-inner {
    align-items: center;
    display: flex;
    flex-basis: auto; } }
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler-alternative {
    display: none; }
  .navbar-expand-lg .navbar-collapse-inner {
    align-items: center;
    display: flex;
    flex-basis: auto; } }
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-toggler-alternative {
    display: none; }
  .navbar-expand-xl .navbar-collapse-inner {
    align-items: center;
    display: flex;
    flex-basis: auto; } }
.navbar-expand .navbar-toggler-alternative {
  display: none; }
.navbar-expand .navbar-collapse-inner {
  align-items: center;
  display: flex;
  flex-basis: auto; }

@media (max-width: 991.98px) {
  .navbar.fixed-top .navbar-collapse.collapse.show {
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto; } }

.navbar-collapse {
  transition: all 0.35s ease-out; }

@media (max-width: 991.98px) {
  .navbar-btn {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; } }

@media (max-width: 991.98px) {
  .navbar-nav .nav-item + .nav-item {
    padding-top: .25rem;
    padding-bottom: .25rem; } }
.navbar-nav .nav-link {
  font-weight: 400; }
  .navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    outline: none; }
.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active {
  position: relative; }
.navbar-nav .active > .nav-link:before,
.navbar-nav .nav-link.active:before {
  content: '';
  display: none;
  position: absolute;
  width: .75rem;
  margin-left: auto;
  margin-right: auto;
  bottom: .725rem;
  left: 0.75rem;
  right: 0.75rem;
  border-bottom: 2px solid currentColor; }

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar-expand-sm .navbar-nav .active > .nav-link:before,
  .navbar-expand-sm .navbar-nav .nav-link.active:before {
    display: block; } }
@media (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar-expand-md .navbar-nav .active > .nav-link:before,
  .navbar-expand-md .navbar-nav .nav-link.active:before {
    display: block; } }
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar-expand-lg .navbar-nav .active > .nav-link:before,
  .navbar-expand-lg .navbar-nav .nav-link.active:before {
    display: block; } }
@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .navbar-expand-xl .navbar-nav .active > .nav-link:before,
  .navbar-expand-xl .navbar-nav .nav-link.active:before {
    display: block; } }
.navbar-expand .navbar-nav .nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem; }
.navbar-expand .navbar-nav .active > .nav-link:before,
.navbar-expand .navbar-nav .nav-link.active:before {
  display: block; }

.dropdown-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  word-wrap: break-word;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 1.5rem 1.5rem; }
  .dropdown-banner > * {
    position: relative; }

@media (min-width: 992px) {
  .navbar-nav .dropdown-menu-lg .dropdown-banner,
  .navbar-nav .dropdown-menu-xl .dropdown-banner {
    padding: 1.75rem 0; } }

.navbar-nav .dropdown-body {
  padding: 1.5rem 1.5rem; }
  @media (max-width: 991.98px) {
    .navbar-nav .dropdown-body {
      padding: 0; } }
  .navbar-nav .dropdown-body .dropdown-header:first-child {
    padding-top: 0; }
  .navbar-nav .dropdown-body .dropdown-item:last-child {
    padding-bottom: 0; }
  .navbar-nav .dropdown-body .dropdown-header,
  .navbar-nav .dropdown-body .dropdown-item {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
@media (min-width: 992px) {
  .navbar-nav .dropdown-menu-lg .dropdown-body,
  .navbar-nav .dropdown-menu-xl .dropdown-body {
    padding: 2rem 2rem; } }

.navbar-nav .dropdown-menu {
  padding: 1.75rem 0; }
  @media (max-width: 991.98px) {
    .navbar-nav .dropdown-menu {
      min-width: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 1rem;
      padding-right: 0;
      box-shadow: none;
      border: 0 solid transparent;
      margin-top: 0;
      margin-bottom: .5rem; } }
@media (max-width: 991.98px) {
  .navbar-nav .dropright > .dropdown-menu,
  .navbar-nav .dropleft > .dropdown-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .5rem;
    margin-top: 0;
    margin-bottom: .5rem; } }

.navbar-nav .dropdown > .dropdown-toggle::after,
.navbar-nav .dropright > .dropdown-toggle::after,
.navbar-nav .dropleft > .dropdown-toggle::after {
  border: none;
  font-family: "Font Awesome 5 Free";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 900;
  font-size: .625rem; }
.navbar-nav .dropleft > .dropdown-toggle::before {
  display: none; }
@media (max-width: 991.98px) {
  .navbar-nav .dropdown > .dropdown-toggle {
    display: flex;
    align-items: center; } }
.navbar-nav .dropdown > .dropdown-toggle::after {
  content: '\f078';
  margin-left: .25rem;
  vertical-align: 0.1em; }
  @media (max-width: 991.98px) {
    .navbar-nav .dropdown > .dropdown-toggle::after {
      margin-left: auto; } }
.navbar-nav .dropright > .dropdown-toggle,
.navbar-nav .dropleft > .dropdown-toggle {
  display: flex;
  align-items: center; }
  .navbar-nav .dropright > .dropdown-toggle::after,
  .navbar-nav .dropleft > .dropdown-toggle::after {
    content: '\f054';
    margin-left: auto;
    vertical-align: middle; }
  @media (max-width: 991.98px) {
    .navbar-nav .dropright > .dropdown-toggle::after,
    .navbar-nav .dropleft > .dropdown-toggle::after {
      content: '\f078'; }
    .navbar-nav .dropright > .dropdown-toggle[aria-expanded="true"]::after,
    .navbar-nav .dropleft > .dropdown-toggle[aria-expanded="true"]::after {
      transform-origin: center center;
      transform: rotate(180deg); } }

.navbar-nav .dropdown-item {
  margin-left: 0;
  margin-right: 0; }
  @media (max-width: 991.98px) {
    .navbar-nav .dropdown-item {
      padding-left: 0;
      padding-right: 0; } }

@media (min-width: 992px) {
  .navbar-nav .dropdown-menu {
    z-index: 1030;
    display: block !important;
    visibility: hidden;
    opacity: 0; }

  .navbar-nav .hovered > .dropdown-menu {
    transition: all 0.3s ease-in-out;
    transition-property: opacity, visibility, transform, -webkit-transform;
    transform-origin: top center; }

  .navbar-nav .dropdown > .dropdown-menu {
    left: 50%;
    transform: translate3d(-50%, 10px, 0); }

  .navbar-nav .dropright > .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    margin-top: -1.75rem;
    margin-left: 1px; }

  .navbar-nav .dropleft > .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    margin-top: -1.75rem;
    margin-right: 1px; }

  .navbar-nav .dropdown.show > .dropdown-menu,
  .navbar-nav .dropright.show > .dropdown-menu,
  .navbar-nav .dropleft.show > .dropdown-menu {
    visibility: visible;
    opacity: 1; }

  .navbar-nav .dropdown.show > .dropdown-menu {
    transform: translate3d(-50%, 0, 0); }

  .navbar-nav .dropright.show > .dropdown-menu,
  .navbar-nav .dropleft.show > .dropdown-menu {
    transform: translate3d(0, 0, 0); } }
.card-body {
  position: relative;
  display: block;
  flex-grow: 0; }

.card-footer {
  border-top: 0; }

.card-zoom {
  overflow: hidden !important;
  border-radius: inherit; }

.card-zoom > [class*=card-img] {
  transition: all .3s ease-in-out;
  transform-origin: center center;
  will-change: transform; }

.card:hover > .card-zoom > [class*=card-img] {
  transform: scale(1.1); }

.card-img-overlay {
  display: flex;
  flex-direction: column;
  padding: 2rem; }
  .card-img-overlay .card-body {
    margin: -2rem;
    margin-top: auto;
    border-bottom-right-radius: calc(.375rem - 2px);
    border-bottom-left-radius: calc(.375rem - 2px); }

.card-img-overlay-hover {
  overflow: hidden; }
  .card-img-overlay-hover .card-body {
    transform: translateY(110%);
    transition: all .3s ease; }
  .card-img-overlay-hover:hover .card-body {
    transform: translateY(0); }

.card > *:not(.card-img-overlay):not(.card-body):not(.card-footer):not(.card-img-top):not(.card-img) {
  border-radius: inherit; }

.accordion-separated > .card {
  overflow: hidden; }
  .accordion-separated > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px; }

.card-collapse {
  padding: 0;
  transition: 0.2s ease-in-out;
  background-color: #fff; }
  .card-collapse:hover {
    background-color: #f5f7f9; }
.card-btn {
  color: #1d1e29;
  text-align: left;
  white-space: inherit; }
  .card-btn-arrow {
    display: inline-block;
    color: #050CDD;
    margin-left: 1rem;
    transition: 0.2s ease-in-out; }
    .collapsed .card-btn-arrow {
      transform: rotate(180deg); }

.accordion-alternative .card {
  border-width: 0 0 1px 0; }
  .accordion-alternative .card-collapse:hover {
    background-color: transparent; }
.accordion-alternative .card:last-child {
  border-width: 0; }
.accordion-alternative .card-header {
  border-bottom: 0; }
.accordion-alternative .card-header:first-child {
  border-radius: 0; }

.breadcrumb-dark .breadcrumb-item {
  color: rgba(255, 255, 255, 0.75); }
  .breadcrumb-dark .breadcrumb-item + .breadcrumb-item::before {
    color: rgba(255, 255, 255, 0.5); }
  .breadcrumb-dark .breadcrumb-item a {
    color: rgba(255, 255, 255, 0.75); }
  .breadcrumb-dark .breadcrumb-item a:hover {
    color: rgba(255, 255, 255, 0.9); }
  .breadcrumb-dark .breadcrumb-item.active {
    color: #fff; }

.breadcrumb-light .breadcrumb-item {
  color: rgba(29, 30, 41, 0.75); }
  .breadcrumb-light .breadcrumb-item + .breadcrumb-item::before {
    color: rgba(29, 30, 41, 0.5); }
  .breadcrumb-light .breadcrumb-item a {
    color: rgba(29, 30, 41, 0.75); }
  .breadcrumb-light .breadcrumb-item a:hover {
    color: rgba(29, 30, 41, 0.9); }
  .breadcrumb-light .breadcrumb-item.active {
    color: #1d1e29; }

.breadcrumb-no-gutter {
  padding: 0; }

.page-link {
  cursor: pointer;
  text-align: center;
  min-width: 2.8125rem;
  margin-left: 0; }

.page-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem; }
  .page-item .page-link {
    border-radius: 0.3125rem; }

.pagination .page-item:first-child {
  margin-left: 0; }
.pagination .page-item:last-child {
  margin-right: 0; }

.pagination-lg .page-link {
  min-width: 3.375rem; }

.pagination-sm .page-link {
  min-width: 1.9375rem; }

.pagination-pill .page-item .page-link {
  border-radius: 50rem; }
.pagination-pill.pagination-lg .page-link {
  padding: 0.6875rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5; }
.pagination-pill.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem; }
.pagination-pill.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem; }
.pagination-pill.pagination-sm .page-link {
  padding: 0.25rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.5; }
.pagination-pill.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 50rem;
  border-bottom-left-radius: 50rem; }
.pagination-pill.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 50rem;
  border-bottom-right-radius: 50rem; }

[class*="badge-"] {
  z-index: 5; }

.badge-sm {
  padding: 0.125rem 0.5em;
  font-size: 65%; }

.badge-md {
  padding: 0.5em 1em; }

.badge-lg {
  padding: 0.75em 1.15em; }

.badge-soft-primary {
  background-color: rgba(5, 12, 221, 0.1);
  color: #050CDD; }
  a.badge-soft-primary:hover, a.badge-soft-primary:focus {
    background-color: rgba(5, 12, 221, 0.2);
    color: #050CDD; }

.badge-soft-secondary {
  background-color: rgba(65, 68, 85, 0.1);
  color: #414455; }
  a.badge-soft-secondary:hover, a.badge-soft-secondary:focus {
    background-color: rgba(65, 68, 85, 0.2);
    color: #414455; }

.badge-soft-success {
  background-color: rgba(33, 206, 91, 0.1);
  color: #21ce5b; }
  a.badge-soft-success:hover, a.badge-soft-success:focus {
    background-color: rgba(33, 206, 91, 0.2);
    color: #21ce5b; }

.badge-soft-info {
  background-color: rgba(63, 196, 227, 0.1);
  color: #3fc4e3; }
  a.badge-soft-info:hover, a.badge-soft-info:focus {
    background-color: rgba(63, 196, 227, 0.2);
    color: #3fc4e3; }

.badge-soft-warning {
  background-color: rgba(243, 237, 79, 0.1);
  color: #f3ed4f; }
  a.badge-soft-warning:hover, a.badge-soft-warning:focus {
    background-color: rgba(243, 237, 79, 0.2);
    color: #f3ed4f; }

.badge-soft-danger {
  background-color: rgba(255, 91, 92, 0.1);
  color: #ff5b5c; }
  a.badge-soft-danger:hover, a.badge-soft-danger:focus {
    background-color: rgba(255, 91, 92, 0.2);
    color: #ff5b5c; }

.badge-soft-light {
  background-color: rgba(245, 247, 249, 0.1);
  color: #f5f7f9; }
  a.badge-soft-light:hover, a.badge-soft-light:focus {
    background-color: rgba(245, 247, 249, 0.2);
    color: #f5f7f9; }

.badge-soft-dark {
  background-color: rgba(29, 30, 41, 0.1);
  color: #1d1e29; }
  a.badge-soft-dark:hover, a.badge-soft-dark:focus {
    background-color: rgba(29, 30, 41, 0.2);
    color: #1d1e29; }

.badge-soft-white {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff; }
  a.badge-soft-white:hover, a.badge-soft-white:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff; }

.alert .alert-inner--icon {
  display: inline-block;
  font-size: 1.25rem;
  margin-right: 1.25rem;
  vertical-align: middle; }
.alert .alert-inner--text {
  display: inline-block;
  vertical-align: middle; }

.progress.progress-alternative {
  position: relative;
  height: auto; }
  .progress.progress-alternative .progress-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 5; }
  .progress.progress-alternative .progress-bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }

.list-group-flush .list-group-item {
  padding-left: 0;
  padding-right: 0; }
  .list-group-flush .list-group-item:first-child {
    padding-top: 0;
    border-top: 0; }
  .list-group-flush .list-group-item:last-child {
    padding-bottom: 0;
    border-bottom: 0; }

.list-group-rounded-0 .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
.list-group-rounded-0 .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.list-group-border-0 .list-group-item {
  border: none; }

.list-group-striped .list-group-item:nth-child(even) {
  background-color: #f5f7f9; }

.list-group-transparent .list-group-item {
  border-color: transparent;
  background-color: transparent; }

.modal-content > .overlay.overlay-advanced {
  border-radius: calc(0.4375rem - 1px); }

.popover-header {
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem; }

.popover-header:not(:empty) ~ .popover-body {
  padding-top: 0; }

section {
  position: relative;
  width: 100%;
  padding: 5rem 0; }

.article figure {
  margin: 2rem 0; }
.article ul, .article ol {
  padding-left: 2rem; }

@media (min-width: 768px) {
  .article figure {
    margin: 4rem 0; }
  .article ul > li:not(:last-child), .article ol > li:not(:last-child) {
    margin-bottom: 0.5rem; } }
.article-comments {
  list-style: none;
  padding-left: 0; }
  .article-comments ul {
    list-style: none;
    padding-left: 0; }
  .article-comments > li:not(:last-child) {
    margin-bottom: 1rem; }
  .article-comments > li li {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-left: 2px solid #d8dde6; }

@media (min-width: 768px) {
  .article-comments > li:not(:last-child) {
    margin-bottom: 1.5rem; } }
.list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none; }

.list-item + .list-item {
  margin-top: 0.5rem; }

.list-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1rem;
  color: #333645; }
  .list-link:hover, .list-link:focus {
    text-decoration: none;
    color: #050CDD; }

.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  font-size: 1rem; }

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.avatar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #8d9caf;
  color: #fff; }

.avatar .avatar-bordered {
  border: 2px solid #fff; }

.avatar-lg .avatar-bordered,
.avatar-xl .avatar-bordered,
.avatar-xxl .avatar-bordered {
  border: 5px solid #fff; }

.avatar-xs {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.5rem; }

.avatar-sm {
  width: 2rem;
  height: 2rem;
  font-size: 0.6666666667rem; }

.avatar-lg {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1.5rem; }

.avatar-xl {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 2.0833333333rem; }

.avatar-xxl {
  width: 6.25rem;
  height: 6.25rem;
  font-size: 2.0833333333rem; }
  @media (min-width: 768px) {
    .avatar-xxl {
      width: 9rem;
      height: 9rem;
      font-size: 3rem; } }

.avatar-group {
  display: inline-flex; }
  .avatar-group .avatar + .avatar {
    margin-left: -0.75rem; }
  .avatar-group .avatar-xs + .avatar-xs {
    margin-left: -0.375rem; }
  .avatar-group .avatar-sm + .avatar-sm {
    margin-left: -0.5rem; }
  .avatar-group .avatar-lg + .avatar-lg {
    margin-left: -1.125rem; }
  .avatar-group .avatar-xl + .avatar-xl {
    margin-left: -1.5625rem; }
  .avatar-group .avatar-xxl + .avatar-xxl {
    margin-left: -2.25rem; }

.avatar-shape {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  background-color: #fff;
  z-index: -1; }
  .avatar-shape.avatar-shape-rounded {
    border-top-right-radius: 100rem;
    border-bottom-right-radius: 100rem; }

.divider {
  margin: 1.5rem 0;
  width: 2rem;
  height: 0.125rem;
  background-color: #333645; }
  .divider.divider-sm {
    width: 1.25rem; }
  .divider.divider-lg {
    width: 3rem; }

body > div.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: hidden;
  pointer-events: none; }

body:not(.loaded) > div.loader {
  opacity: 1; }

body:not(.loaded) {
  overflow: hidden; }

body.loaded > div.loader {
  animation: hideLoader 0.5s linear 0.5s forwards; }

@keyframes hideLoader {
  0% {
    width: 100%;
    height: 100%; }
  100% {
    width: 0;
    height: 0; } }
.icon {
  flex-shrink: 0; }
  .icon.icon-boxed {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .icon > svg {
    height: auto; }

.icon-1x > i {
  font-size: 0.5rem; }

.icon-2x > i {
  font-size: 0.75rem; }

.icon-3x > i {
  font-size: 1rem; }

.icon-4x > i {
  font-size: 1.5rem; }

.icon-5x > i {
  font-size: 2rem; }

.icon-6x > i {
  font-size: 2.5rem; }

.icon-7x > i {
  font-size: 3rem; }

.icon-1x > svg {
  width: 0.5rem; }

.icon-2x > svg {
  width: 0.75rem; }

.icon-3x > svg {
  width: 1rem; }

.icon-4x > svg {
  width: 1.5rem; }

.icon-5x > svg {
  width: 2rem; }

.icon-6x > svg {
  width: 2.5rem; }

.icon-7x > svg {
  width: 3rem; }

.icon-boxed.icon-1x {
  width: 1rem;
  height: 1rem; }
.icon-boxed.icon-2x {
  width: 1.5rem;
  height: 1.5rem; }
.icon-boxed.icon-3x {
  width: 2rem;
  height: 2rem; }
.icon-boxed.icon-4x {
  width: 3rem;
  height: 3rem; }
.icon-boxed.icon-5x {
  width: 4rem;
  height: 4rem; }
.icon-boxed.icon-6x {
  width: 5rem;
  height: 5rem; }
.icon-boxed.icon-7x {
  width: 6rem;
  height: 6rem; }

/* Mouse icon */
.mouse-icon {
  position: absolute;
  border: 2px solid currentColor;
  border-radius: 30px;
  height: 50px;
  width: 30px;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10; }

.mouse-icon:before {
  content: '';
  display: block;
  position: relative;
  border-radius: 4px;
  background-color: currentColor;
  width: 4px;
  height: 10px;
  top: 4px;
  margin-left: auto;
  margin-right: auto;
  animation-name: drop;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running; }

@keyframes drop {
  0% {
    top: 5px;
    opacity: 0; }
  30% {
    top: 10px;
    opacity: 1; }
  100% {
    top: 25px;
    opacity: 0; } }
.countdown {
  display: inline-flex; }

.countdown .number {
  font-size: 3.5rem;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2; }

.countdown .title {
  font-size: 1rem;
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.2; }

.bg-image-holder img {
  display: none !important; }

.overlay:not(.overlay-global):not(.overlay-advanced) {
  position: relative;
  z-index: 1; }

.overlay.overlay-global, .overlay.overlay-advanced {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  backface-visibility: hidden;
  user-select: none; }
.overlay.overlay-global {
  position: fixed; }
.overlay.overlay-advanced {
  position: absolute;
  border-radius: inherit; }
  .overlay.overlay-advanced.vegas-container {
    height: auto !important; }
.overlay .overlay-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .overlay .overlay-inner.vegas-container {
    height: auto !important; }
.overlay .overlay-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%); }
.overlay canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%; }
.overlay[class*="overlay-"]:not(.overlay-advanced):before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  z-index: -1; }
.overlay-primary:before {
  background-color: #050CDD; }
.overlay-secondary:before {
  background-color: #414455; }
.overlay-success:before {
  background-color: #21ce5b; }
.overlay-info:before {
  background-color: #3fc4e3; }
.overlay-warning:before {
  background-color: #f3ed4f; }
.overlay-danger:before {
  background-color: #ff5b5c; }
.overlay-light:before {
  background-color: #f5f7f9; }
.overlay-dark:before {
  background-color: #1d1e29; }
.overlay-white:before {
  background-color: #fff; }
.overlay-10:before {
  opacity: 0.1; }
.overlay-20:before {
  opacity: 0.2; }
.overlay-30:before {
  opacity: 0.3; }
.overlay-40:before {
  opacity: 0.4; }
.overlay-50:before {
  opacity: 0.5; }
.overlay-60:before {
  opacity: 0.6; }
.overlay-70:before {
  opacity: 0.7; }
.overlay-80:before {
  opacity: 0.8; }
.overlay-90:before {
  opacity: 0.9; }

.hover-parent [class*=hover-opacity-] {
  transition: opacity .3s ease-in-out; }
.hover-parent [class*=hover-bg-] {
  transition: background-color .3s ease-in-out; }
.hover-parent .hover-zoom {
  transition: transform .3s ease-in-out;
  transform-origin: center center;
  will-change: transform; }
.hover-parent [class*=hover-][class*=hover-] {
  transition: all .3s ease-in-out; }
.hover-parent:hover .hover-opacity-0 {
  opacity: 0; }
.hover-parent:hover .hover-opacity-10 {
  opacity: 0.1; }
.hover-parent:hover .hover-opacity-20 {
  opacity: 0.2; }
.hover-parent:hover .hover-opacity-30 {
  opacity: 0.3; }
.hover-parent:hover .hover-opacity-40 {
  opacity: 0.4; }
.hover-parent:hover .hover-opacity-50 {
  opacity: 0.5; }
.hover-parent:hover .hover-opacity-60 {
  opacity: 0.6; }
.hover-parent:hover .hover-opacity-70 {
  opacity: 0.7; }
.hover-parent:hover .hover-opacity-80 {
  opacity: 0.8; }
.hover-parent:hover .hover-opacity-90 {
  opacity: 0.9; }
.hover-parent:hover .hover-opacity-100 {
  opacity: 1; }
.hover-parent:hover .hover-bg-primary {
  background-color: #050CDD !important; }
.hover-parent:hover .hover-bg-secondary {
  background-color: #414455 !important; }
.hover-parent:hover .hover-bg-success {
  background-color: #21ce5b !important; }
.hover-parent:hover .hover-bg-info {
  background-color: #3fc4e3 !important; }
.hover-parent:hover .hover-bg-warning {
  background-color: #f3ed4f !important; }
.hover-parent:hover .hover-bg-danger {
  background-color: #ff5b5c !important; }
.hover-parent:hover .hover-bg-light {
  background-color: #f5f7f9 !important; }
.hover-parent:hover .hover-bg-dark {
  background-color: #1d1e29 !important; }
.hover-parent:hover .hover-bg-white {
  background-color: #fff !important; }
.hover-parent:hover .hover-zoom {
  transform: scale3d(1.1, 1.1, 1); }

.bg-black {
  background-color: #000 !important; }

.bg-gray-100 {
  background-color: #f5f7f9 !important; }

.bg-gray-200 {
  background-color: #eaecf1 !important; }

.bg-gray-300 {
  background-color: #d8dde6 !important; }

.bg-gray-400 {
  background-color: #b2c0d0 !important; }

.bg-gray-500 {
  background-color: #8d9caf !important; }

.bg-gray-600 {
  background-color: #414455 !important; }

.bg-gray-700 {
  background-color: #333645 !important; }

.bg-gray-800 {
  background-color: #252734 !important; }

.bg-gray-900 {
  background-color: #1d1e29 !important; }

.bg-soft-primary {
  background-color: rgba(5, 12, 221, 0.1) !important; }

.bg-soft-secondary {
  background-color: rgba(65, 68, 85, 0.1) !important; }

.bg-soft-success {
  background-color: rgba(33, 206, 91, 0.1) !important; }

.bg-soft-info {
  background-color: rgba(63, 196, 227, 0.1) !important; }

.bg-soft-warning {
  background-color: rgba(243, 237, 79, 0.1) !important; }

.bg-soft-danger {
  background-color: rgba(255, 91, 92, 0.1) !important; }

.bg-soft-light {
  background-color: rgba(245, 247, 249, 0.1) !important; }

.bg-soft-dark {
  background-color: rgba(29, 30, 41, 0.1) !important; }

.bg-soft-white {
  background-color: rgba(255, 255, 255, 0.1) !important; }

.bg-gradient-h-primary-transparent {
  background: linear-gradient(to right, #050cdd 0%, rgba(5, 12, 221, 0) 100%); }

.bg-gradient-h-indigo-transparent {
  background: linear-gradient(to right, #4b21ff 0%, rgba(75, 33, 255, 0) 100%); }

.bg-gradient-h-dark-transparent {
  background: linear-gradient(to right, #1d1e29 0%, rgba(29, 30, 41, 0) 100%); }

.bg-gradient-h-white-transparent {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%); }

.bg-gradient-h-black-transparent {
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 100%); }

.bg-gradient-h-transparent-primary {
  background: linear-gradient(to right, rgba(5, 12, 221, 0) 0%, #050cdd 100%); }

.bg-gradient-h-transparent-indigo {
  background: linear-gradient(to right, rgba(75, 33, 255, 0) 0%, #4b21ff 100%); }

.bg-gradient-h-transparent-dark {
  background: linear-gradient(to right, rgba(29, 30, 41, 0) 0%, #1d1e29 100%); }

.bg-gradient-h-transparent-white {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }

.bg-gradient-h-transparent-black {
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, black 100%); }

.bg-gradient-v-primary-transparent {
  background: linear-gradient(to bottom, #050cdd 0%, rgba(5, 12, 221, 0) 100%); }

.bg-gradient-v-indigo-transparent {
  background: linear-gradient(to bottom, #4b21ff 0%, rgba(75, 33, 255, 0) 100%); }

.bg-gradient-v-dark-transparent {
  background: linear-gradient(to bottom, #1d1e29 0%, rgba(29, 30, 41, 0) 100%); }

.bg-gradient-v-white-transparent {
  background: linear-gradient(to bottom, white 0%, rgba(255, 255, 255, 0) 100%); }

.bg-gradient-v-black-transparent {
  background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0) 100%); }

.bg-gradient-v-transparent-primary {
  background: linear-gradient(to bottom, rgba(5, 12, 221, 0) 0%, #050cdd 100%); }

.bg-gradient-v-transparent-indigo {
  background: linear-gradient(to bottom, rgba(75, 33, 255, 0) 0%, #4b21ff 100%); }

.bg-gradient-v-transparent-dark {
  background: linear-gradient(to bottom, rgba(29, 30, 41, 0) 0%, #1d1e29 100%); }

.bg-gradient-v-transparent-white {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }

.bg-gradient-v-transparent-black {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%); }

.bg-cover {
  background-size: cover; }

.bg-contain {
  background-size: contain; }

.bg-cover, .bg-contain {
  background-repeat: no-repeat;
  background-position: center; }

.bg-top-left {
  background-position: top left; }

.bg-top-center {
  background-position: top center; }

.bg-top-right {
  background-position: top right; }

.bg-center-left {
  background-position: center left; }

.bg-center {
  background-position: center; }

.bg-center-right {
  background-position: center right; }

.bg-bottom-left {
  background-position: bottom left; }

.bg-bottom-center {
  background-position: bottom center; }

.bg-bottom-right {
  background-position: bottom right; }

.bg-repeat {
  background-repeat: repeat; }

.bg-repeat-x {
  background-repeat: repeat-x; }

.bg-repeat-y {
  background-repeat: repeat-y; }

.bg-norepeat {
  background-repeat: no-repeat; }

.img-fit-cover {
  object-fit: cover; }

.img-fit-contain {
  object-fit: contain; }

.img-fit-scale-down {
  object-fit: scale-down; }

.img-top-left {
  object-position: top left; }

.img-top-center {
  object-position: top center; }

.img-top-right {
  object-position: top right; }

.img-center-left {
  object-position: center left; }

.img-center {
  object-position: center; }

.img-center-right {
  object-position: center right; }

.img-bottom-left {
  object-position: bottom left; }

.img-bottom-center {
  object-position: bottom center; }

.img-bottom-right {
  object-position: bottom right; }

.border-black {
  border-color: #000 !important; }

@media (min-width: 576px) {
  .border-sm {
    border: 1px solid #d8dde6 !important; }

  .border-top-sm {
    border-top: 1px solid #d8dde6 !important; }

  .border-right-sm {
    border-right: 1px solid #d8dde6 !important; }

  .border-bottom-sm {
    border-bottom: 1px solid #d8dde6 !important; }

  .border-left-sm {
    border-left: 1px solid #d8dde6 !important; }

  .border-sm-0 {
    border: 0 !important; }

  .border-top-sm-0 {
    border-top: 0 !important; }

  .border-right-sm-0 {
    border-right: 0 !important; }

  .border-bottom-sm-0 {
    border-bottom: 0 !important; }

  .border-left-sm-0 {
    border-left: 0 !important; } }
@media (min-width: 768px) {
  .border-md {
    border: 1px solid #d8dde6 !important; }

  .border-top-md {
    border-top: 1px solid #d8dde6 !important; }

  .border-right-md {
    border-right: 1px solid #d8dde6 !important; }

  .border-bottom-md {
    border-bottom: 1px solid #d8dde6 !important; }

  .border-left-md {
    border-left: 1px solid #d8dde6 !important; }

  .border-md-0 {
    border: 0 !important; }

  .border-top-md-0 {
    border-top: 0 !important; }

  .border-right-md-0 {
    border-right: 0 !important; }

  .border-bottom-md-0 {
    border-bottom: 0 !important; }

  .border-left-md-0 {
    border-left: 0 !important; } }
@media (min-width: 992px) {
  .border-lg {
    border: 1px solid #d8dde6 !important; }

  .border-top-lg {
    border-top: 1px solid #d8dde6 !important; }

  .border-right-lg {
    border-right: 1px solid #d8dde6 !important; }

  .border-bottom-lg {
    border-bottom: 1px solid #d8dde6 !important; }

  .border-left-lg {
    border-left: 1px solid #d8dde6 !important; }

  .border-lg-0 {
    border: 0 !important; }

  .border-top-lg-0 {
    border-top: 0 !important; }

  .border-right-lg-0 {
    border-right: 0 !important; }

  .border-bottom-lg-0 {
    border-bottom: 0 !important; }

  .border-left-lg-0 {
    border-left: 0 !important; } }
@media (min-width: 1200px) {
  .border-xl {
    border: 1px solid #d8dde6 !important; }

  .border-top-xl {
    border-top: 1px solid #d8dde6 !important; }

  .border-right-xl {
    border-right: 1px solid #d8dde6 !important; }

  .border-bottom-xl {
    border-bottom: 1px solid #d8dde6 !important; }

  .border-left-xl {
    border-left: 1px solid #d8dde6 !important; }

  .border-xl-0 {
    border: 0 !important; }

  .border-top-xl-0 {
    border-top: 0 !important; }

  .border-right-xl-0 {
    border-right: 0 !important; }

  .border-bottom-xl-0 {
    border-bottom: 0 !important; }

  .border-left-xl-0 {
    border-left: 0 !important; } }
.rounded-1x {
  border-radius: .25rem; }

.rounded-2x {
  border-radius: .5rem; }

.rounded-3x {
  border-radius: 1rem; }

.rounded-4x {
  border-radius: 1.5rem; }

.rounded-5x {
  border-radius: 2rem; }

.shadow-light {
  box-shadow: 0 0.5rem 1.5rem rgba(37, 39, 52, 0.05) !important; }

.shadow-light-lg {
  box-shadow: 0 1.5rem 4rem rgba(37, 39, 52, 0.05) !important; }

.shadow-dark {
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.12) !important; }

.shadow-dark-lg {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.12) !important; }

.shadow-lift {
  transition: all 0.3s ease-in-out; }

.shadow-lift:hover {
  transform: translate3d(0, -0.125rem, 0); }

.shadow-light.shadow-lift:hover {
  box-shadow: 0 0.75rem 1.75rem rgba(37, 39, 52, 0.1) !important; }

.shadow-light-lg.shadow-lift:hover {
  box-shadow: 0 1.57rem 4.5rem rgba(37, 39, 52, 0.1) !important; }

.shadow-dark.shadow-lift:hover {
  box-shadow: 0 0.75rem 1.75rem rgba(0, 0, 0, 0.2) !important; }

.shadow-dark-lg.shadow-lift:hover {
  box-shadow: 0 1.75rem 4.5rem rgba(0, 0, 0, 0.2) !important; }

.shadow-neumorphic-primary {
  box-shadow: 20px 20px 60px #040abc, -20px -20px 60px #060efe; }

.shadow-neumorphic-secondary {
  box-shadow: 20px 20px 60px #646f7e, -20px -20px 60px #8897aa; }

.shadow-neumorphic-light {
  box-shadow: 20px 20px 60px #cfd0d2, -20px -20px 60px #ffffff; }

.shadow-neumorphic-dark {
  box-shadow: 20px 20px 60px #0f0f15, -20px -20px 60px #2c2d3e; }

.shadow-neumorphic-white {
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff; }

.text-shadow-light {
  text-shadow: 0 0.5rem 1.5rem rgba(37, 39, 52, 0.05) !important; }

.text-shadow-light-lg {
  text-shadow: 0 1.5rem 4rem rgba(37, 39, 52, 0.05) !important; }

.text-shadow-dark {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.12) !important; }

.text-shadow-dark-lg {
  text-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.12) !important; }

.text-neumorphic-primary {
  color: #050CDD;
  text-shadow: 20px 20px 60px #040abc, -20px -20px 60px #060efe; }

.text-neumorphic-secondary {
  color: #414455;
  text-shadow: 20px 20px 60px #646f7e, -20px -20px 60px #8897aa; }

.text-neumorphic-light {
  color: #f5f7f9;
  text-shadow: 20px 20px 60px #cfd0d2, -20px -20px 60px #ffffff; }

.text-neumorphic-dark {
  color: #1d1e29;
  text-shadow: 20px 20px 60px #0f0f15, -20px -20px 60px #2c2d3e; }

.text-neumorphic-white {
  color: #fff;
  text-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff; }

.position-xs-static {
  position: static !important; }

.position-xs-relative {
  position: relative !important; }

.position-xs-absolute {
  position: absolute !important; }

.position-xs-fixed {
  position: fixed !important; }

.position-xs-sticky {
  position: sticky !important; }

@media (min-width: 576px) {
  .position-sm-static {
    position: static !important; }

  .position-sm-relative {
    position: relative !important; }

  .position-sm-absolute {
    position: absolute !important; }

  .position-sm-fixed {
    position: fixed !important; }

  .position-sm-sticky {
    position: sticky !important; } }
@media (min-width: 768px) {
  .position-md-static {
    position: static !important; }

  .position-md-relative {
    position: relative !important; }

  .position-md-absolute {
    position: absolute !important; }

  .position-md-fixed {
    position: fixed !important; }

  .position-md-sticky {
    position: sticky !important; } }
@media (min-width: 992px) {
  .position-lg-static {
    position: static !important; }

  .position-lg-relative {
    position: relative !important; }

  .position-lg-absolute {
    position: absolute !important; }

  .position-lg-fixed {
    position: fixed !important; }

  .position-lg-sticky {
    position: sticky !important; } }
@media (min-width: 1200px) {
  .position-xl-static {
    position: static !important; }

  .position-xl-relative {
    position: relative !important; }

  .position-xl-absolute {
    position: absolute !important; }

  .position-xl-fixed {
    position: fixed !important; }

  .position-xl-sticky {
    position: sticky !important; } }
.top-0 {
  top: 0 !important; }

.top-auto {
  top: auto !important; }

.bottom-0 {
  bottom: 0 !important; }

.bottom-auto {
  bottom: auto !important; }

.left-0 {
  left: 0; }

.left-auto {
  left: auto !important; }

.right-0 {
  right: 0 !important; }

.right-auto {
  right: auto !important; }

.opacity-0 {
  opacity: 0; }

.opacity-10 {
  opacity: 0.1; }

.opacity-20 {
  opacity: 0.2; }

.opacity-30 {
  opacity: 0.3; }

.opacity-40 {
  opacity: 0.4; }

.opacity-50 {
  opacity: 0.5; }

.opacity-60 {
  opacity: 0.6; }

.opacity-70 {
  opacity: 0.7; }

.opacity-80 {
  opacity: 0.8; }

.opacity-90 {
  opacity: 0.9; }

.opacity-100 {
  opacity: 1; }

.mw-25 {
  max-width: 25% !important; }

.min-vw-25 {
  min-width: 25vw !important; }

.vw-25 {
  width: 25vw !important; }

.min-vh-25 {
  min-height: 25vh !important; }

.vh-25 {
  height: 25vh !important; }

.mw-50 {
  max-width: 50% !important; }

.min-vw-50 {
  min-width: 50vw !important; }

.vw-50 {
  width: 50vw !important; }

.min-vh-50 {
  min-height: 50vh !important; }

.vh-50 {
  height: 50vh !important; }

.mw-75 {
  max-width: 75% !important; }

.min-vw-75 {
  min-width: 75vw !important; }

.vw-75 {
  width: 75vw !important; }

.min-vh-75 {
  min-height: 75vh !important; }

.vh-75 {
  height: 75vh !important; }

@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important; }

  .h-sm-25 {
    height: 25% !important; }

  .mw-sm-25 {
    max-width: 25% !important; }

  .min-vw-sm-25 {
    min-width: 25vw; }

  .vw-sm-25 {
    width: 25vw !important; }

  .min-vh-sm-25 {
    min-height: 25vh; }

  .vh-sm-25 {
    height: 25vh !important; }

  .w-sm-50 {
    width: 50% !important; }

  .h-sm-50 {
    height: 50% !important; }

  .mw-sm-50 {
    max-width: 50% !important; }

  .min-vw-sm-50 {
    min-width: 50vw; }

  .vw-sm-50 {
    width: 50vw !important; }

  .min-vh-sm-50 {
    min-height: 50vh; }

  .vh-sm-50 {
    height: 50vh !important; }

  .w-sm-75 {
    width: 75% !important; }

  .h-sm-75 {
    height: 75% !important; }

  .mw-sm-75 {
    max-width: 75% !important; }

  .min-vw-sm-75 {
    min-width: 75vw; }

  .vw-sm-75 {
    width: 75vw !important; }

  .min-vh-sm-75 {
    min-height: 75vh; }

  .vh-sm-75 {
    height: 75vh !important; }

  .w-sm-100 {
    width: 100% !important; }

  .h-sm-100 {
    height: 100% !important; }

  .mw-sm-100 {
    max-width: 100% !important; }

  .min-vw-sm-100 {
    min-width: 100vw; }

  .vw-sm-100 {
    width: 100vw !important; }

  .min-vh-sm-100 {
    min-height: 100vh; }

  .vh-sm-100 {
    height: 100vh !important; }

  .w-sm-auto {
    width: auto !important; }

  .h-sm-auto {
    height: auto !important; } }
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important; }

  .h-md-25 {
    height: 25% !important; }

  .mw-md-25 {
    max-width: 25% !important; }

  .min-vw-md-25 {
    min-width: 25vw; }

  .vw-md-25 {
    width: 25vw !important; }

  .min-vh-md-25 {
    min-height: 25vh; }

  .vh-md-25 {
    height: 25vh !important; }

  .w-md-50 {
    width: 50% !important; }

  .h-md-50 {
    height: 50% !important; }

  .mw-md-50 {
    max-width: 50% !important; }

  .min-vw-md-50 {
    min-width: 50vw; }

  .vw-md-50 {
    width: 50vw !important; }

  .min-vh-md-50 {
    min-height: 50vh; }

  .vh-md-50 {
    height: 50vh !important; }

  .w-md-75 {
    width: 75% !important; }

  .h-md-75 {
    height: 75% !important; }

  .mw-md-75 {
    max-width: 75% !important; }

  .min-vw-md-75 {
    min-width: 75vw; }

  .vw-md-75 {
    width: 75vw !important; }

  .min-vh-md-75 {
    min-height: 75vh; }

  .vh-md-75 {
    height: 75vh !important; }

  .w-md-100 {
    width: 100% !important; }

  .h-md-100 {
    height: 100% !important; }

  .mw-md-100 {
    max-width: 100% !important; }

  .min-vw-md-100 {
    min-width: 100vw; }

  .vw-md-100 {
    width: 100vw !important; }

  .min-vh-md-100 {
    min-height: 100vh; }

  .vh-md-100 {
    height: 100vh !important; }

  .w-md-auto {
    width: auto !important; }

  .h-md-auto {
    height: auto !important; } }
@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important; }

  .h-lg-25 {
    height: 25% !important; }

  .mw-lg-25 {
    max-width: 25% !important; }

  .min-vw-lg-25 {
    min-width: 25vw; }

  .vw-lg-25 {
    width: 25vw !important; }

  .min-vh-lg-25 {
    min-height: 25vh; }

  .vh-lg-25 {
    height: 25vh !important; }

  .w-lg-50 {
    width: 50% !important; }

  .h-lg-50 {
    height: 50% !important; }

  .mw-lg-50 {
    max-width: 50% !important; }

  .min-vw-lg-50 {
    min-width: 50vw; }

  .vw-lg-50 {
    width: 50vw !important; }

  .min-vh-lg-50 {
    min-height: 50vh; }

  .vh-lg-50 {
    height: 50vh !important; }

  .w-lg-75 {
    width: 75% !important; }

  .h-lg-75 {
    height: 75% !important; }

  .mw-lg-75 {
    max-width: 75% !important; }

  .min-vw-lg-75 {
    min-width: 75vw; }

  .vw-lg-75 {
    width: 75vw !important; }

  .min-vh-lg-75 {
    min-height: 75vh; }

  .vh-lg-75 {
    height: 75vh !important; }

  .w-lg-100 {
    width: 100% !important; }

  .h-lg-100 {
    height: 100% !important; }

  .mw-lg-100 {
    max-width: 100% !important; }

  .min-vw-lg-100 {
    min-width: 100vw; }

  .vw-lg-100 {
    width: 100vw !important; }

  .min-vh-lg-100 {
    min-height: 100vh; }

  .vh-lg-100 {
    height: 100vh !important; }

  .w-lg-auto {
    width: auto !important; }

  .h-lg-auto {
    height: auto !important; } }
@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important; }

  .h-xl-25 {
    height: 25% !important; }

  .mw-xl-25 {
    max-width: 25% !important; }

  .min-vw-xl-25 {
    min-width: 25vw; }

  .vw-xl-25 {
    width: 25vw !important; }

  .min-vh-xl-25 {
    min-height: 25vh; }

  .vh-xl-25 {
    height: 25vh !important; }

  .w-xl-50 {
    width: 50% !important; }

  .h-xl-50 {
    height: 50% !important; }

  .mw-xl-50 {
    max-width: 50% !important; }

  .min-vw-xl-50 {
    min-width: 50vw; }

  .vw-xl-50 {
    width: 50vw !important; }

  .min-vh-xl-50 {
    min-height: 50vh; }

  .vh-xl-50 {
    height: 50vh !important; }

  .w-xl-75 {
    width: 75% !important; }

  .h-xl-75 {
    height: 75% !important; }

  .mw-xl-75 {
    max-width: 75% !important; }

  .min-vw-xl-75 {
    min-width: 75vw; }

  .vw-xl-75 {
    width: 75vw !important; }

  .min-vh-xl-75 {
    min-height: 75vh; }

  .vh-xl-75 {
    height: 75vh !important; }

  .w-xl-100 {
    width: 100% !important; }

  .h-xl-100 {
    height: 100% !important; }

  .mw-xl-100 {
    max-width: 100% !important; }

  .min-vw-xl-100 {
    min-width: 100vw; }

  .vw-xl-100 {
    width: 100vw !important; }

  .min-vh-xl-100 {
    min-height: 100vh; }

  .vh-xl-100 {
    height: 100vh !important; }

  .w-xl-auto {
    width: auto !important; }

  .h-xl-auto {
    height: auto !important; } }
.w--px {
  width: 1px !important; }

.h--px {
  height: 1px !important; }

.w--1 {
  width: 0.25rem !important; }

.w--2 {
  width: 0.5rem !important; }

.w--3 {
  width: 0.75rem !important; }

.w--4 {
  width: 1rem !important; }

.w--5 {
  width: 1.25rem !important; }

.w--6 {
  width: 1.5rem !important; }

.w--8 {
  width: 2rem !important; }

.w--10 {
  width: 2.5rem !important; }

.w--12 {
  width: 3rem !important; }

.w--14 {
  width: 3.5rem !important; }

.w--16 {
  width: 4rem !important; }

.w--18 {
  width: 4.5rem !important; }

.w--20 {
  width: 5rem !important; }

.w--24 {
  width: 6rem !important; }

.w--32 {
  width: 8rem !important; }

.w--40 {
  width: 10rem !important; }

.w--48 {
  width: 12rem !important; }

.w--56 {
  width: 14rem !important; }

.w--64 {
  width: 16rem !important; }

.w--96 {
  width: 24rem !important; }

.w--128 {
  width: 32rem !important; }

.h--1 {
  height: 0.25rem !important; }

.h--2 {
  height: 0.5rem !important; }

.h--3 {
  height: 0.75rem !important; }

.h--4 {
  height: 1rem !important; }

.h--5 {
  height: 1.25rem !important; }

.h--6 {
  height: 1.5rem !important; }

.h--8 {
  height: 2rem !important; }

.h--10 {
  height: 2.5rem !important; }

.h--12 {
  height: 3rem !important; }

.h--14 {
  height: 3.5rem !important; }

.h--16 {
  height: 4rem !important; }

.h--18 {
  height: 4.5rem !important; }

.h--20 {
  height: 5rem !important; }

.h--24 {
  height: 6rem !important; }

.h--32 {
  height: 8rem !important; }

.h--40 {
  height: 10rem !important; }

.h--48 {
  height: 12rem !important; }

.h--56 {
  height: 14rem !important; }

.h--64 {
  height: 16rem !important; }

.h--96 {
  height: 24rem !important; }

.h--128 {
  height: 32rem !important; }

@media (min-width: 576px) {
  .w--sm-px {
    width: 1px !important; }

  .h--sm-px {
    height: 1px !important; }

  .w--sm-1 {
    width: 0.25rem !important; }

  .w--sm-2 {
    width: 0.5rem !important; }

  .w--sm-3 {
    width: 0.75rem !important; }

  .w--sm-4 {
    width: 1rem !important; }

  .w--sm-5 {
    width: 1.25rem !important; }

  .w--sm-6 {
    width: 1.5rem !important; }

  .w--sm-8 {
    width: 2rem !important; }

  .w--sm-10 {
    width: 2.5rem !important; }

  .w--sm-12 {
    width: 3rem !important; }

  .w--sm-14 {
    width: 3.5rem !important; }

  .w--sm-16 {
    width: 4rem !important; }

  .w--sm-18 {
    width: 4.5rem !important; }

  .w--sm-20 {
    width: 5rem !important; }

  .w--sm-24 {
    width: 6rem !important; }

  .w--sm-32 {
    width: 8rem !important; }

  .w--sm-40 {
    width: 10rem !important; }

  .w--sm-48 {
    width: 12rem !important; }

  .w--sm-56 {
    width: 14rem !important; }

  .w--sm-64 {
    width: 16rem !important; }

  .w--sm-96 {
    width: 24rem !important; }

  .w--sm-128 {
    width: 32rem !important; }

  .h--sm-1 {
    height: 0.25rem !important; }

  .h--sm-2 {
    height: 0.5rem !important; }

  .h--sm-3 {
    height: 0.75rem !important; }

  .h--sm-4 {
    height: 1rem !important; }

  .h--sm-5 {
    height: 1.25rem !important; }

  .h--sm-6 {
    height: 1.5rem !important; }

  .h--sm-8 {
    height: 2rem !important; }

  .h--sm-10 {
    height: 2.5rem !important; }

  .h--sm-12 {
    height: 3rem !important; }

  .h--sm-14 {
    height: 3.5rem !important; }

  .h--sm-16 {
    height: 4rem !important; }

  .h--sm-18 {
    height: 4.5rem !important; }

  .h--sm-20 {
    height: 5rem !important; }

  .h--sm-24 {
    height: 6rem !important; }

  .h--sm-32 {
    height: 8rem !important; }

  .h--sm-40 {
    height: 10rem !important; }

  .h--sm-48 {
    height: 12rem !important; }

  .h--sm-56 {
    height: 14rem !important; }

  .h--sm-64 {
    height: 16rem !important; }

  .h--sm-96 {
    height: 24rem !important; }

  .h--sm-128 {
    height: 32rem !important; } }
@media (min-width: 768px) {
  .w--md-px {
    width: 1px !important; }

  .h--md-px {
    height: 1px !important; }

  .w--md-1 {
    width: 0.25rem !important; }

  .w--md-2 {
    width: 0.5rem !important; }

  .w--md-3 {
    width: 0.75rem !important; }

  .w--md-4 {
    width: 1rem !important; }

  .w--md-5 {
    width: 1.25rem !important; }

  .w--md-6 {
    width: 1.5rem !important; }

  .w--md-8 {
    width: 2rem !important; }

  .w--md-10 {
    width: 2.5rem !important; }

  .w--md-12 {
    width: 3rem !important; }

  .w--md-14 {
    width: 3.5rem !important; }

  .w--md-16 {
    width: 4rem !important; }

  .w--md-18 {
    width: 4.5rem !important; }

  .w--md-20 {
    width: 5rem !important; }

  .w--md-24 {
    width: 6rem !important; }

  .w--md-32 {
    width: 8rem !important; }

  .w--md-40 {
    width: 10rem !important; }

  .w--md-48 {
    width: 12rem !important; }

  .w--md-56 {
    width: 14rem !important; }

  .w--md-64 {
    width: 16rem !important; }

  .w--md-96 {
    width: 24rem !important; }

  .w--md-128 {
    width: 32rem !important; }

  .h--md-1 {
    height: 0.25rem !important; }

  .h--md-2 {
    height: 0.5rem !important; }

  .h--md-3 {
    height: 0.75rem !important; }

  .h--md-4 {
    height: 1rem !important; }

  .h--md-5 {
    height: 1.25rem !important; }

  .h--md-6 {
    height: 1.5rem !important; }

  .h--md-8 {
    height: 2rem !important; }

  .h--md-10 {
    height: 2.5rem !important; }

  .h--md-12 {
    height: 3rem !important; }

  .h--md-14 {
    height: 3.5rem !important; }

  .h--md-16 {
    height: 4rem !important; }

  .h--md-18 {
    height: 4.5rem !important; }

  .h--md-20 {
    height: 5rem !important; }

  .h--md-24 {
    height: 6rem !important; }

  .h--md-32 {
    height: 8rem !important; }

  .h--md-40 {
    height: 10rem !important; }

  .h--md-48 {
    height: 12rem !important; }

  .h--md-56 {
    height: 14rem !important; }

  .h--md-64 {
    height: 16rem !important; }

  .h--md-96 {
    height: 24rem !important; }

  .h--md-128 {
    height: 32rem !important; } }
@media (min-width: 992px) {
  .w--lg-px {
    width: 1px !important; }

  .h--lg-px {
    height: 1px !important; }

  .w--lg-1 {
    width: 0.25rem !important; }

  .w--lg-2 {
    width: 0.5rem !important; }

  .w--lg-3 {
    width: 0.75rem !important; }

  .w--lg-4 {
    width: 1rem !important; }

  .w--lg-5 {
    width: 1.25rem !important; }

  .w--lg-6 {
    width: 1.5rem !important; }

  .w--lg-8 {
    width: 2rem !important; }

  .w--lg-10 {
    width: 2.5rem !important; }

  .w--lg-12 {
    width: 3rem !important; }

  .w--lg-14 {
    width: 3.5rem !important; }

  .w--lg-16 {
    width: 4rem !important; }

  .w--lg-18 {
    width: 4.5rem !important; }

  .w--lg-20 {
    width: 5rem !important; }

  .w--lg-24 {
    width: 6rem !important; }

  .w--lg-32 {
    width: 8rem !important; }

  .w--lg-40 {
    width: 10rem !important; }

  .w--lg-48 {
    width: 12rem !important; }

  .w--lg-56 {
    width: 14rem !important; }

  .w--lg-64 {
    width: 16rem !important; }

  .w--lg-96 {
    width: 24rem !important; }

  .w--lg-128 {
    width: 32rem !important; }

  .h--lg-1 {
    height: 0.25rem !important; }

  .h--lg-2 {
    height: 0.5rem !important; }

  .h--lg-3 {
    height: 0.75rem !important; }

  .h--lg-4 {
    height: 1rem !important; }

  .h--lg-5 {
    height: 1.25rem !important; }

  .h--lg-6 {
    height: 1.5rem !important; }

  .h--lg-8 {
    height: 2rem !important; }

  .h--lg-10 {
    height: 2.5rem !important; }

  .h--lg-12 {
    height: 3rem !important; }

  .h--lg-14 {
    height: 3.5rem !important; }

  .h--lg-16 {
    height: 4rem !important; }

  .h--lg-18 {
    height: 4.5rem !important; }

  .h--lg-20 {
    height: 5rem !important; }

  .h--lg-24 {
    height: 6rem !important; }

  .h--lg-32 {
    height: 8rem !important; }

  .h--lg-40 {
    height: 10rem !important; }

  .h--lg-48 {
    height: 12rem !important; }

  .h--lg-56 {
    height: 14rem !important; }

  .h--lg-64 {
    height: 16rem !important; }

  .h--lg-96 {
    height: 24rem !important; }

  .h--lg-128 {
    height: 32rem !important; } }
@media (min-width: 1200px) {
  .w--xl-px {
    width: 1px !important; }

  .h--xl-px {
    height: 1px !important; }

  .w--xl-1 {
    width: 0.25rem !important; }

  .w--xl-2 {
    width: 0.5rem !important; }

  .w--xl-3 {
    width: 0.75rem !important; }

  .w--xl-4 {
    width: 1rem !important; }

  .w--xl-5 {
    width: 1.25rem !important; }

  .w--xl-6 {
    width: 1.5rem !important; }

  .w--xl-8 {
    width: 2rem !important; }

  .w--xl-10 {
    width: 2.5rem !important; }

  .w--xl-12 {
    width: 3rem !important; }

  .w--xl-14 {
    width: 3.5rem !important; }

  .w--xl-16 {
    width: 4rem !important; }

  .w--xl-18 {
    width: 4.5rem !important; }

  .w--xl-20 {
    width: 5rem !important; }

  .w--xl-24 {
    width: 6rem !important; }

  .w--xl-32 {
    width: 8rem !important; }

  .w--xl-40 {
    width: 10rem !important; }

  .w--xl-48 {
    width: 12rem !important; }

  .w--xl-56 {
    width: 14rem !important; }

  .w--xl-64 {
    width: 16rem !important; }

  .w--xl-96 {
    width: 24rem !important; }

  .w--xl-128 {
    width: 32rem !important; }

  .h--xl-1 {
    height: 0.25rem !important; }

  .h--xl-2 {
    height: 0.5rem !important; }

  .h--xl-3 {
    height: 0.75rem !important; }

  .h--xl-4 {
    height: 1rem !important; }

  .h--xl-5 {
    height: 1.25rem !important; }

  .h--xl-6 {
    height: 1.5rem !important; }

  .h--xl-8 {
    height: 2rem !important; }

  .h--xl-10 {
    height: 2.5rem !important; }

  .h--xl-12 {
    height: 3rem !important; }

  .h--xl-14 {
    height: 3.5rem !important; }

  .h--xl-16 {
    height: 4rem !important; }

  .h--xl-18 {
    height: 4.5rem !important; }

  .h--xl-20 {
    height: 5rem !important; }

  .h--xl-24 {
    height: 6rem !important; }

  .h--xl-32 {
    height: 8rem !important; }

  .h--xl-40 {
    height: 10rem !important; }

  .h--xl-48 {
    height: 12rem !important; }

  .h--xl-56 {
    height: 14rem !important; }

  .h--xl-64 {
    height: 16rem !important; }

  .h--xl-96 {
    height: 24rem !important; }

  .h--xl-128 {
    height: 32rem !important; } }
.fill-none {
  fill: none !important; }

.fill-primary {
  fill: #050CDD !important; }

.fill-secondary {
  fill: #414455 !important; }

.fill-success {
  fill: #21ce5b !important; }

.fill-info {
  fill: #3fc4e3 !important; }

.fill-warning {
  fill: #f3ed4f !important; }

.fill-danger {
  fill: #ff5b5c !important; }

.fill-light {
  fill: #f5f7f9 !important; }

.fill-dark {
  fill: #1d1e29 !important; }

.fill-white {
  fill: #fff !important; }

.fill-gray-100 {
  fill: #f5f7f9 !important; }

.fill-gray-200 {
  fill: #eaecf1 !important; }

.fill-gray-300 {
  fill: #d8dde6 !important; }

.fill-gray-400 {
  fill: #b2c0d0 !important; }

.fill-gray-500 {
  fill: #8d9caf !important; }

.fill-gray-600 {
  fill: #414455 !important; }

.fill-gray-700 {
  fill: #333645 !important; }

.fill-gray-800 {
  fill: #252734 !important; }

.fill-gray-900 {
  fill: #1d1e29 !important; }

.stop-color-primary {
  stop-color: #050CDD !important; }

.stop-color-secondary {
  stop-color: #414455 !important; }

.stop-color-success {
  stop-color: #21ce5b !important; }

.stop-color-info {
  stop-color: #3fc4e3 !important; }

.stop-color-warning {
  stop-color: #f3ed4f !important; }

.stop-color-danger {
  stop-color: #ff5b5c !important; }

.stop-color-light {
  stop-color: #f5f7f9 !important; }

.stop-color-dark {
  stop-color: #1d1e29 !important; }

.stop-color-white {
  stop-color: #fff !important; }

.stroke-primary {
  stroke: #050CDD !important; }

.stroke-secondary {
  stroke: #414455 !important; }

.stroke-success {
  stroke: #21ce5b !important; }

.stroke-info {
  stroke: #3fc4e3 !important; }

.stroke-warning {
  stroke: #f3ed4f !important; }

.stroke-danger {
  stroke: #ff5b5c !important; }

.stroke-light {
  stroke: #f5f7f9 !important; }

.stroke-dark {
  stroke: #1d1e29 !important; }

.stroke-white {
  stroke: #fff !important; }

.stroke-gray-100 {
  stroke: #f5f7f9 !important; }

.stroke-gray-200 {
  stroke: #eaecf1 !important; }

.stroke-gray-300 {
  stroke: #d8dde6 !important; }

.stroke-gray-400 {
  stroke: #b2c0d0 !important; }

.stroke-gray-500 {
  stroke: #8d9caf !important; }

.stroke-gray-600 {
  stroke: #414455 !important; }

.stroke-gray-700 {
  stroke: #333645 !important; }

.stroke-gray-800 {
  stroke: #252734 !important; }

.stroke-gray-900 {
  stroke: #1d1e29 !important; }

.fs-14 {
  font-size: .875rem; }

.text-underline {
  text-decoration: underline; }

.text-none {
  text-decoration: none; }

.text-none:hover {
  text-decoration: none; }

.text-space-1 {
  letter-spacing: 1px; }

.text-gray-100 {
  color: #f5f7f9 !important; }

a.text-gray-100:hover, a.text-gray-100:focus {
  color: #c5d1dc !important; }

.text-gray-200 {
  color: #eaecf1 !important; }

a.text-gray-200:hover, a.text-gray-200:focus {
  color: #bcc2d2 !important; }

.text-gray-300 {
  color: #d8dde6 !important; }

a.text-gray-300:hover, a.text-gray-300:focus {
  color: #a9b4c8 !important; }

.text-gray-400 {
  color: #b2c0d0 !important; }

a.text-gray-400:hover, a.text-gray-400:focus {
  color: #8299b3 !important; }

.text-gray-500 {
  color: #8d9caf !important; }

a.text-gray-500:hover, a.text-gray-500:focus {
  color: #63758d !important; }

.text-gray-600 {
  color: #414455 !important; }

a.text-gray-600:hover, a.text-gray-600:focus {
  color: #20212a !important; }

.text-gray-700 {
  color: #333645 !important; }

a.text-gray-700:hover, a.text-gray-700:focus {
  color: #121419 !important; }

.text-gray-800 {
  color: #252734 !important; }

a.text-gray-800:hover, a.text-gray-800:focus {
  color: #050507 !important; }

.text-gray-900 {
  color: #1d1e29 !important; }

a.text-gray-900:hover, a.text-gray-900:focus {
  color: black !important; }

.text-white-70 {
  color: rgba(255, 255, 255, 0.7) !important; }

.text-white-80 {
  color: rgba(255, 255, 255, 0.8) !important; }

.text-black-70 {
  color: rgba(0, 0, 0, 0.7) !important; }

.text-black-80 {
  color: rgba(0, 0, 0, 0.8) !important; }

.zindex-0 {
  z-index: 0; }

.zindex-1 {
  z-index: 1; }

.zindex-2 {
  z-index: 2; }

.zindex-3 {
  z-index: 3; }

.zindex-4 {
  z-index: 4; }

.zindex-5 {
  z-index: 5; }

.zindex-555 {
  z-index: 555; }

.zindex-5555 {
  z-index: 5555; }

.zindex-n1 {
  z-index: -1; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 200%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeOutDown {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeOutDownBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, 200%, 0); } }
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes fadeOutRightBig {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
.featherlight-lightbox {
  display: none; }

div.featherlight,
div.featherlight:last-of-type {
  background: rgba(3, 5, 7, 0.9); }

div.featherlight .featherlight-content {
  padding: 0;
  border-bottom: 0;
  box-shadow: 0 0 27px rgba(0, 0, 0, 0.27); }

div.featherlight .featherlight-inner > *:not(.overlay) {
  position: relative; }

div.featherlight .featherlight-close-icon {
  position: fixed;
  top: 15px;
  right: 15px;
  width: auto;
  background: transparent;
  font-size: 24px;
  line-height: 1;
  color: #fff; }

div.featherlight.featherlight-popup .featherlight-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 32px;
  color: #000; }

div.featherlight .featherlight-next,
div.featherlight .featherlight-previous {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  height: 80px;
  margin: auto 0;
  padding: 0 15px;
  background: transparent;
  transition: all .3s ease-out; }

div.featherlight .featherlight-next {
  left: auto;
  right: 0; }

div.featherlight .featherlight-previous {
  left: 0;
  right: auto; }

div.featherlight .featherlight-next span,
div.featherlight .featherlight-previous span {
  display: block;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 80px;
  text-shadow: none; }

div.featherlight .featherlight-next:hover,
div.featherlight .featherlight-previous:hover {
  opacity: .8; }

.featherlight-content .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgba(3, 5, 7, 0.8); }

.featherlight-content .caption .title-gallery,
.featherlight-content .caption .text-gallery {
  width: 100%;
  max-width: 600px;
  color: #fff; }

div.featherlight-iframe .featherlight-content .caption {
  position: fixed; }

div.featherlight-iframe .featherlight-content {
  max-width: 90%; }

.slick-slide {
  outline: none; }

.slick-prev,
.slick-next {
  font-size: 1.25rem;
  line-height: 1;
  position: absolute;
  top: 50%;
  display: block;
  width: 3.375rem;
  height: 3.375rem;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  outline: none;
  background: #fff;
  color: #1d1e29;
  z-index: 100;
  transition: all .3s ease-out; }

.slick-prev:hover,
.slick-next:hover {
  color: #050CDD;
  outline: none;
  background: #fff; }

.slick-prev:focus,
.slick-next:focus {
  outline: none; }

.slick-prev {
  left: 1rem; }

.slick-next {
  right: 1rem; }

.slick-dots {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  list-style: none;
  text-align: center; }

.slick-dotted.slick-slider.dots-inside .slick-dots {
  position: absolute;
  bottom: 1rem;
  margin: 0; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 4px;
  margin: 4px 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  border-radius: .125rem;
  outline: none;
  padding: 0;
  background: #d8dde6; }

.slick-dots li.slick-active button {
  width: 30px;
  height: 6px;
  margin: 3px 0;
  border-radius: .25rem;
  background: #1d1e29; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dotted.slick-slider.dots-light .slick-dots li button {
  background: #fff; }

.slick-dotted.slick-slider.dots-left .slick-dots {
  text-align: left; }

.slick-dotted.slick-slider.dots-right .slick-dots {
  text-align: right; }

/*# sourceMappingURL=theme.css.map */
